{% extends 'base.html.twig' %}

{% block title %}GPT Chat Demo{% endblock %}

{% block body %}
  <div class="container" style="max-width: 600px; margin: 2rem auto;">
    <h2>GPT Chat Demo</h2>
    <div {{ react_component('GptChatWindow') }}>
        Wczytywanie kreatora…
    </div>
  </div>
{% endblock %}