{% extends 'base.html.twig' %}

{% block title %}Hello ThemeGenerateController!{% endblock %}

{% block body %}
    <div class="flex h-screen">
        <iframe
                id="previewFrame"
                src="{{ previewBaseUrl ~ '/' ~ section }}"
                class="flex-1 border-none"
        ></iframe>
        <div {{ react_component('ThemePanel', { previewBaseUrl, section }) }}></div>
    </div>
{% endblock %}
