<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sylius Demo Creator</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body class="bg-gray-50">
    <div id="app-root"></div>
    {{ encore_entry_script_tags('app') }}
</body>
</html>
